apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    # Upload limits
    nginx.org/client-max-body-size: 500m
    nginx.ingress.kubernetes.io/proxy-body-size: 500m
    # Auth
    # nginx.ingress.kubernetes.io/auth-type: basic
    # nginx.ingress.kubernetes.io/auth-secret: basic-auth
    # nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required - {{ .Values.name }}'
  name: {{ .Values.name }}-ingress
  namespace: {{ .Values.ns }}
spec:
  rules:
  - host: "{{ .Values.hostname }}"
    http:
      paths:
      - backend:
          service:
            name: {{ .Values.name }}-service
            port:
              number: 8082
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - {{ .Values.hostname }}
    secretName: tls-secret